page-home {
  .home-container {
     display: -webkit-flex;
     -webkit-flex-direction: column;
     flex-direction: column;
     height: 100%;
     -webkit-flex: 1.5 !important;
     flex: 1.5 !important;
     -webkit-align-items: center;
     align-items: center;
     background-color: #1abc9c;
  }
  .home-container > .row {
     -webkit-flex: 1;
     flex: 1;
     -webkit-align-items: center;
     align-items: center;
     width: 100%;
  }

  .home-container > .row > .col{
     -webkit-flex: 1;
     flex: 1;
     -webkit-flex-direction: column;
     flex-direction: column;
     text-align: center;
  }
}